<main class="main-content">
	<header class="main-content__header">
		<h1>404</h1>
	</header>

	<pre>
		<code class="lang-javascript hljs">
no dress rehearsal
this is our life
		</code>
	</pre>

</main>
