<article class="main-content">
	{{#with data.page}}

		<header class="main-content__header">
			<h1>{{title}}</h1>
		</header>

		<section class="main-content__body blog-content">
			{{{content.extended.html}}}
		</section>

	{{/with}}
</article>
