<article class="main-content">
	<header class="main-content__header">
		<h1>{{data.post.title}}</h1>
		<p><a href="/blog">&larr; back to the blog</a></p>
	</header>

	<section class="main-content__body blog-content">
		{{{data.post.content.extended}}}
	</section>

	<hr />

	<footer class="main-content__footer">
		SOCIAL
		COMMENTS
	</footer>
</article>
