{
  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "h": true
  },
  "extends": ["eslint:recommended", "standard-preact"],
  "rules": {
    "no-console": 0,
    "jsx-quotes": ["error", "prefer-double"]
  }
}
