<ul class="pagination" role="navigation">
	<li class="pagination-previous {{#unless data.posts.previous}}disabled{{/unless}}">
		{{#if data.posts.previous}}
			<a href="{{paginationPreviousUrl data.posts.previous}}" aria-label="Previous page">Previous</a>
		{{/if}}
	</li>
	{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
	<li class="pagination-next {{#unless data.posts.next}}disabled{{/unless}}">
		{{#if data.posts.next}}
			<a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}" aria-label="Next page">Next</a>
		{{/if}}
	</li>
</ul>
