@import "settings";

@import "../../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-off-canvas;
@include foundation-pagination;

// include icons
@import "icons";

// include prism
@import "highlight";

a {
  transition: ease-in-out 0.1s;
}
code {
  border-radius: 5px;
}
pre code {
  display: block;
  margin-bottom: $global-margin;
  overflow-x: scroll;
}
article {
  h2, h3, h4, h5, h6 {
    margin-top: ($global-margin * 2);
  }
}
.natural {
  color: inherit;
  &:hover {
    color: $anchor-color;
  }
}
.natural--secondary {
  @extend .natural;
  &:hover {
    color: map-get($foundation-palette, secondary);
  }
}
.button.secondary {
  color: white;
  &:hover {
    color: $light-gray;
  }
}
.embiggen {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.rounded-corners {
  border-radius: $global-radius;
}


/**
* SIDEBAR/NAVIGATION
*/

.menu-toggle-wrapper {
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 1;
  @include breakpoint(large) {
    display: none;
  }
}
.menu-toggle {
  border-radius: 0;
  font-size: 20px;
  padding: 0.5em;
}
.sidebar-wrapper {
  height: 100%;
  overflow: visible;
  @include breakpoint(large) {
    background-image: url(./img/cover.jpg);
    background-size: cover;
    background-position: center top;
  }
}
.sidebar-filter {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
}
.sidebar-body {
  color: $white;
  .site-title {
    font-size: 24px;
  }
  .site-description {
    font-size: 16px;
    font-weight: 400;
    color: $light-gray;
  }
}

.main-nav {
  margin: ($global-margin * 1.5) 0;
  padding: 0;
  list-style-type: none;
  font-size: 24px;
}

.social-nav {
  margin: ($global-margin * 1.5) 0;
  padding: 0;
  list-style-type: none;
  font-size: 28px;
  &>li {
    display: inline-block;
    &>a {
      color: white;
      &:hover {
        color: $anchor-color;
      }
    }
  }
}


/**
* CONTENT PAGE LAYOUT
*/

.main-content {
  max-width: 800px;
  margin: 50px;
  @include breakpoint(xlarge) {
    margin: 50px 128px;
  }
}

.main-content__header {
  margin-bottom: ($global-margin * 2);
}

.lede {
  font-style: italic;
}


/**
* BLOG
*/

.blog-listing__post-content {
  p:last-child::after {
    content: ' ...';
  }
}

.share-icons {
  font-size: rem-calc(40);
  margin-bottom: $global-margin;
}


/**
* PORTFOLIO
*/

.portfolio-listing {
  @include breakpoint(medium) {
    columns: 2;
  }
}
.portfolio-listing__project {
  display: inline-block;
  width: 100%;
  border: 1px solid $medium-gray;
  padding: $global-margin;
  margin-bottom: 25px;
  h2 {
    margin: 0 0 ($global-margin / 2);
  }
}
.portfolio-listing__author {
  font-style: italic;
  font-size: 0.8em;
}

.portfolio-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.portfolio-links__item {
  display: inline;
  font-size: 1.4em;
  padding: 0 0.1em;
}

.portfolio-links--large {
  @extend .portfolio-links;
  font-size: rem-calc(30);
}


/**
* HOMEPAGE
*/

.homepage-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.homepage-row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.homepage-tile {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  &:nth-child(n + 2) {
    display: none;
  }
  @include breakpoint(medium) {
    width: 50%;
    &:nth-child(n + 2) { display: block }
  }
}
.homepage-tile__item {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  display: block;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out opacity;
}
.homepage-tile__item:first-child,
.homepage-tile__item.active {
  opacity: 1;
  pointer-events: all;
}

.homepage-nav {
  font-weight: 700;
  color: white;
  background: $dark-gray;
  display: flex;
  flex-direction: row;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
}
.homepage-nav__link {
  flex-grow: 1;
  text-align: center;
  padding: 0.5em 0;
  &:hover {
    background: map-get($foundation-palette, secondary);
    color: white;
  }
}

.homepage-project {
  position: relative;
  color: white;
  transition: 0.3s ease-in-out;
  &:hover {
    color: map-get($foundation-palette, primary);
    img {
      filter: blur(5px);
    }
  }
}
.homepage-project__bg,
.homepage-project__fg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: $dark-gray;
}
.homepage-project__bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.homepage-project__fg {
  background: linear-gradient(rgba($dark-gray, 0), rgba($dark-gray, 0.9));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homepage-project__title {
  padding: 0 1.25em;
  color: inherit;
}

/**
* FORMS AND BUTTONS
*/

.has-error {
  background: rgba(255, 0, 0, 0.3);
}
