@import "settings";

@import "../../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-off-canvas;
@include foundation-pagination;

// include icons
@import "../icons/styles.scss";

// include prism
@import "highlight.darcula.scss";

a {
  transition: ease-in-out 0.1s;
}
code {
  border-radius: 5px;
}
pre code {
  display: block;
  margin-bottom: $global-margin;
  overflow-x: scroll;
}
article {
  h2, h3, h4, h5, h6 {
    margin-top: ($global-margin * 2);
  }
}
.natural {
  color: inherit;
  &:hover {
    color: $anchor-color;
  }
}
.natural--secondary {
  @extend .natural;
  &:hover {
    color: map-get($foundation-palette, secondary);
  }
}
.button.secondary {
  color: white;
  &:hover {
    color: $light-gray;
  }
}
.embiggen {
  font-size: 1.4em;
  margin-bottom: 1em;
}


/**
* SIDEBAR/NAVIGATION
*/

.menu-toggle-wrapper {
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 1;
  @include breakpoint(large) {
    display: none;
  }
}
.menu-toggle {
  border-radius: 0;
  font-size: 20px;
  padding: 0.5em;
}
.sidebar-wrapper {
  height: 100%;
  overflow: visible;
  @include breakpoint(large) {
    background-image: url(./img/cover.jpg);
    background-size: cover;
    background-position: middle top;
  }
}
.sidebar-filter {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
}
.sidebar-body {
  color: $white;
  .site-title {
    font-size: 24px;
  }
  .site-description {
    font-size: 16px;
    font-weight: 400;
    color: $light-gray;
  }
}

.main-nav {
  margin: ($global-margin * 1.5) 0;
  padding: 0;
  list-style-type: none;
  font-size: 24px;
}

.social-nav {
  margin: ($global-margin * 1.5) 0;
  padding: 0;
  list-style-type: none;
  font-size: 28px;
  &>li {
    display: inline-block;
    &>a {
      color: white;
      &:hover {
        color: $anchor-color;
      }
    }
  }
}


/**
* CONTENT PAGE LAYOUT
*/

.main-content {
  max-width: 800px;
  margin: 50px;
  @include breakpoint(xlarge) {
    margin: 50px 128px;
  }
}

.main-content__header {
  margin-bottom: ($global-margin * 2);
}

.lede {
  font-style: italic;
}


/**
* BLOG
*/

.blog-listing__post-content {
  p:last-child::after {
    content: ' ...';
  }
}

.share-icons {
  font-size: rem-calc(40);
  margin-bottom: $global-margin;
}


/**
* PORTFOLIO
*/

.portfolio-listing {
  @include breakpoint(medium) {
    columns: 2;
  }
}
.portfolio-listing__project {
  display: inline-block;
  width: 100%;
  border: 1px solid $medium-gray;
  padding: $global-margin;
  margin-bottom: 25px;
  h2 {
    margin: 0 0 ($global-margin / 2);
  }
}
.portfolio-listing__author {
  font-style: italic;
  font-size: 0.8em;
}

.portfolio-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.portfolio-links__item {
  display: inline;
  font-size: 1.4em;
  padding: 0 0.1em;
}

.portfolio-links--large {
  @extend .portfolio-links;
  font-size: rem-calc(30);
}


/**
* HOMEPAGE
*/

.homepage-header {
  background-image: url(./img/code.jpg);
  background-size: cover;
  background-position: right middle;
  color: white;
  h1, h2 {
    margin-bottom: ($global-margin * 3);
  }
}

.homepage-header__filter {
  padding: rem-calc(80) 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.homepage-section {
  margin: rem-calc(80) 0;
}
.homepage-section__title {
  margin-bottom: ($global-margin) * 2.5;
}

.homepage-portfolio,
.homepage-blog {
  list-style-type: none;
  margin-left: 0;
  line-height: 1.1;
}

.homepage-footer {
  background: $dark-gray;
  color: white;
  padding: rem-calc(50) 0;
}

.social-nav--large {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
  li {
    display: inline-block;
    &:first-child {
      margin-right: 1em;
    }
  }

}

/**
* FORMS AND BUTTONS
*/

.has-error {
  background: rgba(255, 0, 0, 0.3);
}
