@import "settings";

@import "../../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-everything;

// include icons
@import "../icons/styles.scss";

// include prism
@import "highlight.darcula.scss";

a {
  transition: ease-in-out 0.1s;
}
code {
  border-radius: 5px;
}
pre code {
  display: block;
  margin-bottom: $global-margin;
  overflow-x: scroll;
}
article {
  h2, h3, h4, h5, h6 {
    margin-top: ($global-margin * 2);
  }
}
.natural {
  color: inherit;
  &:hover {
    color: $anchor-color;
  }
}
.natural--secondary {
  @extend .natural;
  &:hover {
    color: map-get($foundation-palette, secondary);
  }
}
.button.secondary {
  color: white;
  &:hover {
    color: $light-gray;
  }
}


/**
* SIDEBAR/NAVIGATION
*/

.menu-toggle-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar-wrapper {
  height: 100vh;
  height: 100%;
  overflow: visible;
  background-image: url(./img/cover.jpg);
  background-size: cover;
  background-position: middle top;
}
.sidebar-filter {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
}
.sidebar-body {
  color: $white;
  .site-title {
    font-size: 24px;
  }
  .site-description {
    font-size: 16px;
    font-weight: 400;
    color: $light-gray;
  }
}

.main-nav {
  margin: ($global-margin * 1.5) 0;
  padding: 0;
  list-style-type: none;
  font-size: 24px;
}

.social-nav {
  margin: ($global-margin * 1.5) 0;
  padding: 0;
  list-style-type: none;
  font-size: 28px;
  &>li {
    display: inline-block;
    &>a {
      color: white;
      &:hover {
        color: $anchor-color;
      }
    }
  }
}


/**
* CONTENT PAGE LAYOUT
*/

.main-content {
  max-width: 800px;
  margin: 50px;
  @include breakpoint(xlarge) {
    margin: 50px 128px;
  }
}

.main-content__header {
  margin-bottom: 50px;
}


/**
* BLOG
*/

.blog-listing__post-content {
  p:last-child::after {
    content: ' ...';
  }
}


/**
* FORMS AND BUTTONS
*/

.has-error {
  background: rgba(255, 0, 0, 0.3);
}
